extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice_view_product.css')

block content
    .view-product-wrapper.container-backo.container
        table.container-backo 
            thead 
                tr 
                    th Name 
                    th Price
                    th Stock 
                    th Description
                    th Material
                    th Category 
                    th Image 1
                    th Image 2
                    th Image 3
                    th Image 4
            tbody
                each produit in produits
                    tr.view-product-list-item
                        td.product-name #{ produit.nom }
                        td.product-price #{ produit.prix } €
                        td.product-stock #{ produit.stock }
                        td.product-description #{ produit.description }
                        td.product-material #{ produit.materiaux }
                        td.product-category #{ produit.categorie.nom }
                        td
                            img.product-img(src=produit.image1)
                        td 
                            img.product-img(src=produit.image2)
                        td
                            img.product-img(src=produit.image3)
                        td
                            img.product-img(src=produit.image4)
                        td 
                            a(href="/backoffice/produit/modify?id="+produit._id)
                                i.material-icons create
                        td
                            a(href=`/produit/delete/${produit._id}`)
                                i.material-icons delete
        a.waves-effect.waves-light.btn-large(href="/backoffice/produit/add") Create product
            
