extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice_add_product.css')

block content
    .add-product-wrapper 
        form(action="/backoffice/produit/add" method="post")
            .input-id(hidden)
                    input#nom(name="_id", placeholder="Name*", value=isProduit ? produit._id : "")
                    label(for="_id")
            .input-name
                input#nom(required name="nom", placeholder="Name*", value=isProduit ? produit.nom : "")
                label(for="nom")
            .input-price
                input#price(required name="prix", placeholder="Price*", value=isProduit ? produit.prix : "")
                label(for="prix")
            .input-stock
                input#stock(required name="stock", placeholder="Stock*", value=isProduit ? produit.stock : "")
                label(for="stock")
            .input-dscription
                input#description(required name="description", placeholder="Description*", value=isProduit ? produit.description : "")
                label(for="description")
            .input-categorie
                label(for="categorie") Category :
                select#categorie(required name="categorie")
                    each category in categories
                        if isProduit
                            - const categoryId = String(category._id);
                            - const produitCategoryId = String(produit.categorie);
                            option(value=category._id, selected= (categoryId === produitCategoryId)) #{ category.nom }
                        else
                            option(value=category._id) #{ category.nom }
            .input-img1
                label(for="photo1") Photo principale
                input(required type="text", name="photo1", id="photo1", value=isProduit ? produit.image1 : "")
            .input-img2
                label(for="photo2") Photo 2 (optionnelle)
                input(type="text", name="photo2", id="photo2", value=isProduit ? produit.image2 : "")
            .input-img3
                label(for="photo3") Photo 3 (optionnelle)
                input(type="text", name="photo3", id="photo3", value=isProduit ? produit.image3 : "")
            .input-img4
                label(for="photo4") Photo 4 (optionnelle)
                input(type="text", name="photo4", id="photo4", value=isProduit ? produit.image4 : "")

            button.submit(type="submit") Valider