extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice_orders.css')

block content
  .historique-commande-wrapper.container-commandes
        h1.contact-h1 Orders
        if commande !== null
            each commande in commandes 
              .commande-wrapper 
                  .left-side
                      .id Order n°#{ commande.id }
                      .date #{ commande.client.prenom } #{ commande.client.nom } #{ commande.client.mail }
                      .date #{ commande.date }
                      each product in commande.produits
                          .produit-wrapper
                              .name-article -#{ product.produit.nom }
                              .quantite-article Quantity : #{ product.quantite }
                  .right-side
                      .prix-HT HT price : #{ commande.prixHT } €
                      .prix-TTC Total price : #{ commande.prixTTC } €
                      .status Status: 
                        select#statutOrder(name="statutOrder")
                          option(value="On hold", selected=(commande.statut === "On hold"), data-commande=commande.id) On hold
                          option(value="In preparation", selected=(commande.statut === "In preparation"), data-commande=commande.id) In preparation
                          option(value="Delivering", selected=(commande.statut === "Delivering"), data-commande=commande.id) Delivering
                          option(value="Delivered", selected=(commande.statut === "Delivered"), data-commande=commande.id) Delivered
                          option(value="Return requested", selected=(commande.statut === "Return requested"), data-commande=commande.id) Return requested
                          option(value="Return refused", selected=(commande.statut === "Return refused"), data-commande=commande.id) Return refused
                          option(value="Back in progress", selected=(commande.statut === "Back in progress"), data-commande=commande.id) Back in progress
                          option(value="Returned", selected=(commande.statut === "Returned"), data-commande=commande.id) Returned
                          option(value="Canceled", selected=(commande.statut === "Canceled"), data-commande=commande.id) Canceled

        else 
            .no-command No order found

block script
  script(src='/assets/scripts/ajuste-statut-commande.js')