extends ../layouts/layout.pug

block links
    link(rel='stylesheet' href='/assets/css/cart_confirmation.css')

block content 
    h1.contact-h1 Payment
    form(action="/cart-confirmation", method="post")
        .cart-confirmation-page.container
            .cart-confirmation-form 
                    h3 Enter your facturation address 
                    label(for="address-factu")
                    select#address-factu(name="address-factu")
                        if cartInfo.adresses.length !== 0
                            option(value="") -Choose an address-
                            each adresse in cartInfo.adresses
                                option(value=adresse._id) #{adresse.nom}
                        else 
                            option(value="") No address registered
                    .wrapper-facturation-address-form
                        .input-nom-adresse
                            input#nom(name="nom", placeholder="FirstName*", required, value=cartInfo.client.nom)
                            label(for="nom")
                        .input-nom-adresse
                            input#prenom(name="prenom", placeholder="LastName*", required, value=cartInfo.client.prenom)
                            label(for="prenom")
                        .input-nom-adresse
                            input#tel(name="tel", placeholder="Telephone number*", required, value=(cartInfo.client.telephone != null ? cartInfo.client.telephone : ""))
                            label(for="tel")
                            
                        .input-nom-adresse
                            input#nomAdresseFactu(name="nomAdresseFactu", placeholder="Nom de l'adresse")
                            label(for="nomAdresseFactu")
                        .input-rue
                            input#rueFactu(name="rueFactu", placeholder="Rue*", required)
                            label(for="rueFactu")

                        .input-complement
                            input#complementFactu(name="complementFactu", placeholder="Complement d'adresse")
                            label(for="complementFactu")

                        .input-ville
                            input#villeFactu(name="villeFactu", placeholder="Ville*", required)
                            label(for="villeFactu")

                        .input-region
                            input#regionFactu(name="regionFactu", placeholder="Region*", required)
                            label(for="regionFactu")

                        .input-codepostal
                            input#codepostalFactu(name="codepostalFactu", placeholder="Code postal*", required)
                            label(for="codepostalFactu")

                        .input-pays
                            input#paysFactu(name="paysFactu", placeholder="Pays*", required)
                            label(for="paysFactu")

                        .input-register 
                            label() 
                                input#register-addressFactu.filled-in(type="checkbox" name="regaddressFactu")
                                span Save it

                    h3 Enter a delivery address 
                    label(for="address")
                    select#address(name="address")
                        if cartInfo.adresses.length !== 0
                            option(value="") -Choose an address-
                            each adresse in cartInfo.adresses
                                option(value=adresse._id) #{adresse.nom}
                        else 
                            option(value="") No address registered 

                    .wrapper-delivery-address-form
                        .input-nom-adresse
                            input#nomAdresse(name="nomAdresse", placeholder="Nom de l'adresse")
                            label(for="nomAdresse")
                        .input-nom-adresse
                            input#nom-adresse(hidden name="prixTotal" value=cartInfo.prixTotal)
                        .input-nom-adresse
                            input#nom-adresse(hidden name="prixTVA" value=cartInfo.prixTVA)

                        .input-rue
                            input#rue(name="rue", placeholder="Rue*", required)
                            label(for="rue")

                        .input-complement
                            input#complement(name="complement", placeholder="Complement d'adresse")
                            label(for="rue")

                        .input-ville
                            input#ville(name="ville", placeholder="Ville*", required)
                            label(for="ville")

                        .input-region
                            input#region(name="region", placeholder="Region*", required)
                            label(for="region")

                        .input-codepostal
                            input#codepostal(name="codepostal", placeholder="Code postal*", required)
                            label(for="codepostal")

                        .input-pays
                            input#pays(name="pays", placeholder="Pays*", required)
                            label(for="pays")

                        .input-register 
                            label() 
                                input#register-address.filled-in(type="checkbox" name="regaddress")
                                span Save it

                    h3 Enter your payment information 
                    label(for="paiements")
                    select#paiements(name="paiements")
                        if cartInfo.paiements.length !== 0
                            option(value="") -Choose a card-
                            each paiement in cartInfo.paiements
                                option(value=paiement._id) #{paiement.libelle_carte}
                        else 
                            option(value="") No card registered 
                    
                    .wrapper-delivery-address-form
                        .input-nom-card
                            input#nnomCard(name="nomCard", placeholder="Surnom de la carte")
                            label(for="nomCard")
                        
                        .input-fullname
                            input#fullname(name="fullname", placeholder="Fullname*", required)
                            label(for="fullname")

                        .input-cardnumber
                            input#cardnumber(name="cardnumber", placeholder="Card number*", required)
                            label(for="cardnumber")

                        .input-expiration
                            input#expiration(name="expiration", placeholder="Expiration date*", required)
                            label(for="expiration")

                        .input-cvv
                            input#cvv(name="cvv", placeholder="CVV*", required)
                            label(for="cvv")
                        
                        .input-register 
                            label() 
                                input#register-card.filled-in(type="checkbox" name="regcard")
                                span Save it  
            .cart-confirmation-content
                each panier in cartInfo.paniers 
                    .product-wrapper
                        .img-product.img(style=`background-image: url(${panier.article.image1}`)
                        .basic-info 
                            p.product-name #{ panier.article.nom }
                            p.product-price #{ panier.quantite } units
                .prix-total
                    .total-price TOTAL
                    .total-amount #{ cartInfo.prixTotal } €
                .prix-tva 
                    .tva-price VAT
                    .tva-amount #{ cartInfo.prixTVA } €
                button.waves-effect.waves-light.btn-large(type="submit") Pay

block script
  script(src='/assets/scripts/update_cart_confirmation.js')