extends ../layouts/layout.pug

block links 
  link(rel='stylesheet' href='/assets/css/commande_details.css')


block content
    .wrapper-commande-details.container
        .id.contact-h1 Order n°#{ commande.id }
        .date #{ commande.date }
        h3 Order Content
        .produit-list-content
            each article in commande.produits 
                .product-wrapper
                    .img-product.img(style=`background-image: url(${article.produit.image1}`)
                    .basic-info 
                        p.product-name #{ article.produit.nom }
                        p.product-price #{ article.produit.prix }€/units
                        p.product-quantity #{ article.quantite } units
            p.statut-commande Status : #{ commande.statut }
            .prix-total
                .total-price TOTAL
                .total-amount #{ commande.prixHT } €
            .prix-tva 
                .tva-price VAT
                .tva-amount #{ commande.prixTTC } €
            if commande.statut === "On hold"
                a.waves-effect.waves-light.btn-large.button(href=`/order/changeStatut/${commande.id}/askCancel`) Cancel order
            if commande.statut === "Delivered"
                a.waves-effect.waves-light.btn-large.button(href=`/order/changeStatut/${commande.id}/askReturn`) Return order

        h3 Addresses
        table.container-user-address
                thead 
                    tr 
                        th 
                        th Street
                        th City
                        th ZIP Code
                tbody
                    tr.view-address-list-item
                        td Delivery Address
                        td.address-streat #{ commande.adresseLivraison.rue }
                        td.address-town #{ commande.adresseLivraison.ville }
                        td.address-code #{ commande.adresseLivraison.cp }
                    tr.view-address-list-item
                        td Facturation Address
                        td.address-streat #{ commande.adresseFacturation.rue }
                        td.address-complement #{ commande.adresseFacturation.complement }
                        td.address-town #{ commande.adresseFacturation.ville }
                        td.address-code #{ commande.adresseFacturation.cp }