extends ../layouts/layout.pug

block links 
  link(rel='stylesheet' href='/assets/css/espace_utilisateur.css')


block content
    .user-espace-wrapper.container 
        h1.contact-h1 User Space 
        h3 My informations
        form.user-info-form(action="/espace-utilisateur", method="post")
            .input-nom
                input#nom(required name="nom", placeholder="Lastname*", value=client.nom)
                label(for="nom")
            .input-prenom
                input#prenom(required name="prenom", placeholder="Firstname*", value=client.prenom)
                label(for="prenom")
            .input-mail
                input#mail(required name="mail", placeholder="Mail*", value=client.mail disabled="disabled")
                label(for="mail")
            .input-mdp
                input#mdp(type="password" name="mdp", placeholder="Password")
                label(for="mdp")
            span#mdp-length.error
            span#mdp-uppercase.error
            span#mdp-lowercase.error
            span#mdp-digit.error
            span#mdp-special.error
            .input-tel
                input#tel(name="tel", placeholder="Telephone number", value=(client.telephone == null) ? "" : client.telephone)
                label(for="tel")
            .user-form-submit
                button.waves-effect.waves-light.btn-large.submit(type="submit"  name='ation') Save changes

        h3 My addresses
        table.container-user-address
            thead 
                tr 
                    th Address
                    th Street
                    th City
                    th ZIP Code
            tbody
                each adresse in adresses
                    tr.view-address-list-item
                        td.address-name #{ adresse.nom }
                        td.address-streat #{ adresse.rue }
                        td.address-town #{ adresse.ville }
                        td.address-code #{ adresse.cp }
                        td
                            a(href="/espace-utilisateur/modifier-adresse/"+adresse._id)
                                i.material-icons create
                        td
                            a(href=`/espace-utilisateur/delete-adresse?id=${adresse._id}`)
                                i.material-icons delete

        h3 My cards
        table.container-user-paiement
            thead 
                tr 
                    th Card
                    th Expiration date
            tbody
                each card in cards
                    tr.view-address-list-item
                        td.address-name #{ card.libelle_carte }
                        td.address-streat #{ card.date_expiration }
                        td
                            a(href=`/espace-utilisateur/delete-card?id=${card._id}`)
                                i.material-icons delete
block script 
  script(src='/assets/scripts/passwordValidation.js')