extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/historique_commande.css')

block content
    .historique-commande-wrapper.container-commandes.container
        h1.contact-h1 My orders
        if commande !== null
            each commande in commandes 
                .commande-wrapper 
                    .left-side
                        .id Order n°#{ commande.id }
                        .date #{ commande.date }
                        each product in commande.produits
                            .produit-wrapper
                                .name-article -#{ product.produit.nom }
                                .quantite-article Quantity : #{ product.quantite }
                    .right-side
                        .prix-HT HT price : #{ commande.prixHT } €
                        .prix-TTC Total price : #{ commande.prixTTC } €
                        .status Status : #{ commande.statut }
                        a.waves-effect.waves-light.btn-large(href="/commande-detail/"+commande.id) See details
        else 
            .no-command No order found
            a(href="/products")
                h4.panier-vide See our products 
