extends ../layouts/layout.pug

block content
  .carroussel 
    .img-back(style=`background-image: url(${favoris.photo1})`)
    .img-back(style=`background-image: url(${favoris.photo2})`)
    .img-back(style=`background-image: url(${favoris.photo3})`)
    .img-back(style=`background-image: url(${favoris.photo4})`)
  .container.titreh2-index
    h2.titre-accueil VENANT DES HAUTES TERRES D'ÉCOSSE NOS MEUBLES SONT IMMORTELS
  .container.grille-categories-accueil 
     
    a(href='/product_list?id='+favoris.categorie1._id) 
      .categorie-accueil #{favoris.categorie1.nom}
    a(href='/product_list?id='+favoris.categorie2._id) 
      .categorie-accueil #{favoris.categorie2.nom}
    a(href='/product_list?id='+favoris.categorie3._id) 
      .categorie-accueil #{favoris.categorie3.nom}
  a.all-categories.btn.waves-effect.waves-light(href='/category') All categories
  .container.titre-produits-accueil Les Highlanders du moment
  .container.grille-produits-accueil 
    a(href='/product_detail?id='+favoris.article1._id) 
      .produit-accueil #{favoris.article1.nom}
    a(href='/product_detail?id='+favoris.article2._id) 
      .produit-accueil #{favoris.article2.nom}
    a(href='/product_detail?id='+favoris.article3._id) 
      .produit-accueil #{favoris.article3.nom}