extends ../layouts/layout.pug

block content
  .carroussel 
    .img-back 
    .img-back
    .img-back
  .container.titreh2-index
    h2.titre-accueil VENANT DES HAUTES TERRES D'ÉCOSSE NOS MEUBLES SONT IMMORTELS
  .container.grille-categories-accueil 
    .categorie-accueil 
      a(href='/product_list?id='+favoris.categorie1._id) #{favoris.categorie1.nom}
    .categorie-accueil
      a(href='/product_list?id='+favoris.categorie1._id) #{favoris.categorie1.nom}
    .categorie-accueil
      a(href='/product_list?id='+favoris.categorie1._id) #{favoris.categorie1.nom}
  a.all-categories.btn.waves-effect.waves-light(href='/category') All categories
  .container.titre-produits-accueil Les Highlanders du moment
  .container.grille-produits-accueil 
    .produit-accueil 
      a(href='/product_detail?id='+favoris.article1._id) #{favoris.article1.nom}
    .produit-accueil 
      a(href='/product_detail?id='+favoris.article2._id) #{favoris.article2.nom}
    .produit-accueil 
      a(href='/product_detail?id='+favoris.article3._id) #{favoris.article3.nom}