extends ../layouts/layout.pug

block links 
  link(rel='stylesheet' href='/assets/css/modifier-adresse.css')

block content
    .wrapper-delivery-address-form.container
        h1.contact-h1 Change Address
        form.form-adresse-change(action="", method="post")
            .input-nom-adresse
                input#nomAdresse(name="nomAdresse", placeholder="Address name*", value=adresse.nom)
                label(for="nomAdresse")

            input#rue(name="id", hidden, value=adresse._id)

            .input-rue
                input#rue(name="rue", placeholder="Street*", required, value=adresse.rue)
                label(for="rue")

            .input-complement
                input#complement(name="complement", placeholder="Address complement*", value=adresse.complement)
                label(for="complement")

            .input-ville
                input#ville(name="ville", placeholder="City*", required, value=adresse.ville)
                label(for="ville")

            .input-region
                input#region(name="region", placeholder="Region*", required, value=adresse.region)
                label(for="region")

            .input-codepostal
                input#codepostal(name="codepostal", placeholder="ZIP Code*", required, value=adresse.cp)
                label(for="codepostal")

            .input-pays
                input#pays(name="pays", placeholder="Country*", required, value=adresse.pays)
                label(for="pays")

            .buttons
                button.waves-effect.waves-light.btn-large.submit-button(type="submit") Valid Changes
                a.waves-effect.waves-light.btn-large.return-button(href="/espace-utilisateur") 
                    span.arrow
                        i.material-icons arrow_back_ios
                    span.text Return