extends ../layouts/layout.pug

block links 
    link(rel='stylesheet' href='/assets/css/product_list.css')

block content 
    h1.contact-h1 #{categorie ? categorie : "Products"}
    if filters
        form.filtres-products.container(action="/product/filter", method="get")
            label(for="nameText") Search
                input#nameText(type="text", name="nameText", placeholder="Product", value=filters.nameText)
            select#materialSelect(name="materialSelect") 
                option(value="") Materials
                each material in materials
                    option(value=material, selected=filters.materialSelect === material) #{material}
            select#stockSelect(name="stockSelect")
                option(value="", selected=filters.stockSelect === "") Stock
                option(value="true", selected=filters.stockSelect === "true") In stock 
                option(value="false", selected=filters.stockSelect === "false") Out of stock 
            label(for="priceMin") Min price
                input#priceMin(type="number", name="priceMin", placeholder="20", value=filters.priceMin)
            label(for="priceMax") Max price
                input#priceMax(type="number", name="priceMax", placeholder="700", value=filters.priceMax)
            button.btn-search.btn.waves-effect.waves-light(type="submit")
                i.material-icons search
    .product-list-wrapper.container-lis-products
        if produits.length === 0
            p.no-products No products to show
        each produit in produits 
            .product-wrapper
                a.img-product(href='/product_detail?id='+produit._id style=`background-image: url(${produit.image1}`)
                .basic-info 
                    p.product-name #{ produit.nom }
                    p.product-price #{ produit.prix } €
                    a(href='/product_detail?id='+produit._id)
                        button.goto-product-detail.btn.waves-effect.waves-light() See details
            