extends ../layouts/layout.pug

block links 
    link(rel='stylesheet' href='assets/css/product_detail.css')

block content 
    .caroussel 
        .img-product
        .img-product
        .img-product
    .wrapper-product-detail 
        .rigth-side-wrapper 
            img(src=produit.image1)
        .left-side-wrapper 
            h1.product-name-title #{ produit.nom }
            p.product-stock #{ produit.stock }
            p.product-price #{ produit.prix }
            p.product-description #{ produit.description }
            a(href='/cart') 
                button.add-to-cart(type='button') Ajouter au panier
        .wrapper-similar-product
            .similar-product 
                img(src='assets/img/placeholder.png')
                p.similar-product-name name
                p.similar-product-price price
            .similar-product 
                img(src='assets/img/placeholder.png')
                p.similar-product-name name
                p.similar-product-price price
            .similar-product 
                img(src='assets/img/placeholder.png')
                p.similar-product-name name
                p.similar-product-price price
        