extends ../layouts/layout.pug

block links 
    link(rel='stylesheet' href='assets/css/product_detail.css')

block content 
    .wrapper-product-detail.container
        .rigth-side-wrapper 
            .img-product.img(style=`background-image: url(${produit.image1}`)
        .left-side-wrapper 
            h1.product-name-title #{ produit.nom }
            p.product-stock #{ produit.stock } unités en stock
            p.product-price #{ produit.prix } €
            p.product-description #{ produit.description }
            a.waves-effect.waves-light.btn(href=`/add-produit-panier/${produit._id}`) Ajouter au panier
    .wrapper-similar-product.container
        each autreProduit, key in autresProduits
            a.similar-product(href='/product_detail?id='+autreProduit._id)
                .img-product-similar.img(style=`background-image: url(${autreProduit.image1}`)
                p.similar-product-name #{autreProduit.nom}
                p.similar-product-price #{autreProduit.prix} €
            
        